@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: auto;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.secao-titulo {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.secao-titulo span {
    color: red;
}

/* Seção Hero */
#hero {
    background-image: url(./img/hero-bg.jpg);

    background-size: cover;
    background-position: left center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: revelacao_titulo .5s ease forwards;
    animation-delay: 1s ;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: revelacao_titulo_senai .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: red;
    animation: revelacao_caixa_titulo 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color:  transparent;
    border: 2px solid red;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;  
}

#hero .cta:hover {
    color: white;
    background-color: red;
}
/* Fim Seção Hero */

/* Seção Matérias */
#materias .materias {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#materias .materias-header h1 {
    margin-bottom: 50px;
}

#materias .todas-materias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#materias .materia-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#materias .materia-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        color: white;
}

#materias .materia-info h1 {
    font-size: 4rem;
}

#materias .materia-info h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 10px;
}

#materias .materia-info p{
    color: white;
    padding-bottom: 10px;
}

#materias .materia-info p span {
    font-weight: bold;
}

#materias .materia-video-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
/* Fim Seção Matérias */

/* Seção Contatos */
#contatos {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contatos .contato-wrapper {
    width: 60%;
    height: 70vh;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

#contatos .contato-esquerdo {
    width: 35%;
    background: 
        linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), 
        url(./img/contato.jpg);
    background-size: cover;
}

#contatos .contato-direito {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contatos .secao-titulo {
    padding: 20px 0 10px 0;
    width: 100%;
    font-size: 3.25vw;
}

#contatos form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contatos .grupo-input {
    position: relative;
}

#contatos .grupo-input textarea {
   padding-top: 1.5rem;
   font-family: sans-serif;
   max-width: 40rem;
   max-height: 5rem;
}

#contatos .campo {
    background: transparent;
    border: none;
    width: 20vw;
    height: 5rem;
    font-size: 1.45vw;
    border-bottom: 2px dashed #636363;
    outline: none;
    margin: 1rem 0;
}

#contatos .label-campo {
    position: absolute;
    left: 0;
    top: 2.5rem;
    color: black;
    font-size: 1.45vw;
    font-weight: 400;
    letter-spacing: .05rem;
    transition: all 0.3s;
}

#contatos .campo:focus ~ label {
    top: 0;
    font-size: 1.25vw;
}

#contatos .campo:focus{
    border-bottom: 1px solid #636363;
}

#contatos .cta-enviar {
    padding: 10px;
    color: white;
    background-color:  red;
    border: 2px solid red;
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    width: 20vw;
}

#contatos .cta-enviar:hover {
    opacity: 50%;
}

/* Fim Seção Contatos */

/* Keyframes */
@keyframes revelacao_caixa_titulo {
    50% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes revelacao_titulo {
    100% {
        color: white;
    }
}

@keyframes revelacao_titulo_senai {
    100% {
        color: red;
    }
}

/* Fim Keyframes */